<div class="layout-wrapper">
    <div id="layout-topbar">
        <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
            <i class="fa fa-bars"></i>
        </a>

        <a class="logo" [routerLink]="['/']">
            <img alt="logo" src="assets/showcase/images/logo.png" />
        </a>

        <ul class="topbar-menu">
           
            <li class="topbar-menu-themes">

                <a>主题</a>
                <ul>

                    <li *ngFor="let theme of themes">
                        <a href="#" (click)="changeTheme($event, theme)">
                            <span class="ui-text">
                                {{theme}}</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

    <div id="layout-sidebar" [ngClass]="{'active': menuActive}">

        <div class="layout-menu">
            <a id="menu_input" #inputmenutitle [class.active-menuitem]="inputmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === inputmenutitle.id ? null : inputmenutitle.id)">
                <img src="assets/showcase/images/icons/input-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/input.svg" class="layout-menu-icon-inactive" />
                <span>Input</span>
            </a>
            <div [ngClass]="{submenushow: (inputmenutitle.id == activeMenuId), 'submenuhide': (inputmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/inputgroup']" (click)="menuActive = false" [routerLinkActive]="['active']">InputGroup</a>
                <a [routerLink]="['/autocomplete']" (click)="menuActive = false" [routerLinkActive]="['active']">AutoComplete</a>
                <a [routerLink]="['/calendar']" (click)="menuActive = false" [routerLinkActive]="['active']">Calendar</a>
                <a [routerLink]="['/checkbox']" (click)="menuActive = false" [routerLinkActive]="['active']">Checkbox</a>
                <a [routerLink]="['/chips']" (click)="menuActive = false" [routerLinkActive]="['active']">Chips</a>
                <a [routerLink]="['/colorpicker']" (click)="menuActive = false" [routerLinkActive]="['active']">ColorPicker</a>
                <a [routerLink]="['/dropdown']" (click)="menuActive = false" [routerLinkActive]="['active']">Dropdown</a>
                <a [routerLink]="['/editor']" (click)="menuActive = false" [routerLinkActive]="['active']">Editor</a>
                <a [routerLink]="['/inputswitch']" (click)="menuActive = false" [routerLinkActive]="['active']">InputSwitch</a>
                <a [routerLink]="['/inputtext']" (click)="menuActive = false" [routerLinkActive]="['active']">InputText</a>
                <a [routerLink]="['/inputtextarea']" (click)="menuActive = false" [routerLinkActive]="['active']">InputTextArea</a>
                <a [routerLink]="['/listbox']" (click)="menuActive = false" [routerLinkActive]="['active']">Listbox</a>
                <a [routerLink]="['/inputmask']" (click)="menuActive = false" [routerLinkActive]="['active']">Mask</a>
                <a [routerLink]="['/multiselect']" (click)="menuActive = false" [routerLinkActive]="['active']">MultiSelect</a>
                <a [routerLink]="['/password']" (click)="menuActive = false" [routerLinkActive]="['active']">Password</a>
                <a [routerLink]="['/radiobutton']" (click)="menuActive = false" [routerLinkActive]="['active']">RadioButton</a>
                <a [routerLink]="['/rating']" (click)="menuActive = false" [routerLinkActive]="['active']">Rating</a>
                <a [routerLink]="['/slider']" (click)="menuActive = false" [routerLinkActive]="['active']">Slider</a>
                <a [routerLink]="['/spinner']" (click)="menuActive = false" [routerLinkActive]="['active']">Spinner</a>
                <a [routerLink]="['/selectbutton']" (click)="menuActive = false" [routerLinkActive]="['active']">SelectButton</a>
                <a [routerLink]="['/togglebutton']" (click)="menuActive = false" [routerLinkActive]="['active']">ToggleButton</a>
                <a [routerLink]="['/tristatecheckbox']" (click)="menuActive = false" [routerLinkActive]="['active']">TriCheckbox</a>
            </div>

            <a id="button_menutitle" #buttonmenutitle [class.active-menuitem]="buttonmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === buttonmenutitle.id ? null : buttonmenutitle.id)">
                <img src="assets/showcase/images/icons/button-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/button.svg" class="layout-menu-icon-inactive" />
                <span>Button</span>
            </a>
            <div [ngClass]="{'submenushow': (buttonmenutitle.id == activeMenuId), 'submenuhide': (buttonmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/button']" (click)="menuActive = false" [routerLinkActive]="['active']">Button</a>
                <a [routerLink]="['/splitbutton']" (click)="menuActive = false" [routerLinkActive]="['active']">SplitButton</a>
            </div>

            <a id="data_menutitle" #datamenutitle [class.active-menuitem]="datamenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === datamenutitle.id ? null : datamenutitle.id)">
                <img src="assets/showcase/images/icons/data-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/data.svg" class="layout-menu-icon-inactive" />
                <span>Data</span>
            </a>
            <div [ngClass]="{'submenushow': (datamenutitle.id == activeMenuId), 'submenuhide': (datamenutitle.id != activeMenuId)}">
                <a [routerLink]="['/carousel']" (click)="menuActive = false" [routerLinkActive]="['active']">Carousel</a>
                <a [routerLink]="['/datagrid']" (click)="menuActive = false" [routerLinkActive]="['active']">DataGrid</a>
                <a [routerLink]="['/datalist']" (click)="menuActive = false" [routerLinkActive]="['active']">DataList</a>
                <a [routerLink]="['/datascroller']" (click)="menuActive = false" [routerLinkActive]="['active']">DataScroller</a>
                <a [routerLink]="['/datatable']" (click)="menuActive = false" [routerLinkActive]="['active']">DataTable</a>
                <a [routerLink]="['/organizationchart']" (click)="menuActive = false" [routerLinkActive]="['active']">Org Chart</a>
                <a [routerLink]="['/orderlist']" (click)="menuActive = false" [routerLinkActive]="['active']">OrderList</a>
                <a [routerLink]="['/gmap']" (click)="menuActive = false" [routerLinkActive]="['active']">GMap</a>
                <a [routerLink]="['/paginator']" (click)="menuActive = false" [routerLinkActive]="['active']">Paginator</a>
                <a [routerLink]="['/picklist']" (click)="menuActive = false" [routerLinkActive]="['active']">PickList</a>
                <a [routerLink]="['/schedule']" (click)="menuActive = false" [routerLinkActive]="['active']">Schedule</a>
                <a [routerLink]="['/tree']" (click)="menuActive = false" [routerLinkActive]="['active']">Tree</a>
                <a [routerLink]="['/treetable']" (click)="menuActive = false" [routerLinkActive]="['active']">TreeTable</a>


            </div>

            <a id="menu_panel" #panelmenutitle [class.active-menuitem]="panelmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === panelmenutitle.id ? null : panelmenutitle.id)">
                <img src="assets/showcase/images/icons/panel-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/panel.svg" class="layout-menu-icon-inactive" />
                <span>Panel</span>
            </a>
            <div [ngClass]="{'submenushow': (panelmenutitle.id == activeMenuId), 'submenuhide': (panelmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/accordion']" (click)="menuActive = false" [routerLinkActive]="['active']">Accordion</a>
                <a [routerLink]="['/fieldset']" (click)="menuActive = false" [routerLinkActive]="['active']">Fieldset</a>
                <a [routerLink]="['/panel']" (click)="menuActive = false" [routerLinkActive]="['active']">Panel</a>
                <a [routerLink]="['/grid']" (click)="menuActive = false" [routerLinkActive]="['active']">Grid</a>
                <a [routerLink]="['/tabview']" (click)="menuActive = false" [routerLinkActive]="['active']">TabView</a>
                <a [routerLink]="['/toolbar']" (click)="menuActive = false" [routerLinkActive]="['active']">Toolbar</a>
            </div>

            <a id="menu_overlay" #overlaymenutitle [class.active-menuitem]="overlaymenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === overlaymenutitle.id ? null : overlaymenutitle.id)">
                <img src="assets/showcase/images/icons/overlay-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/overlay.svg" class="layout-menu-icon-inactive" />
                <span>Overlay</span>
            </a>
            <div [ngClass]="{'submenushow': (overlaymenutitle.id == activeMenuId), 'submenuhide': (overlaymenutitle.id != activeMenuId)}">
                <a [routerLink]="['/confirmdialog']" (click)="menuActive = false" [routerLinkActive]="['active']">ConfirmDialog</a>
                <a [routerLink]="['/dialog']" (click)="menuActive = false" [routerLinkActive]="['active']">Dialog</a>
                <a [routerLink]="['/lightbox']" (click)="menuActive = false" [routerLinkActive]="['active']">Lightbox</a>
                <a [routerLink]="['/sidebar']" (click)="menuActive = false" [routerLinkActive]="['active']">Sidebar</a>
                <a [routerLink]="['/overlaypanel']" (click)="menuActive = false" [routerLinkActive]="['active']">OverlayPanel</a>
                <a [routerLink]="['/tooltip']" (click)="menuActive = false" [routerLinkActive]="['active']">Tooltip</a>
            </div>

            <a id="menu_file" #filemenutitle [class.active-menuitem]="filemenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === filemenutitle.id ? null : filemenutitle.id)">
                <img src="assets/showcase/images/icons/file-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/file.svg" class="layout-menu-icon-inactive" />
                <span>File</span>
            </a>
            <div [ngClass]="{'submenushow': (filemenutitle.id == activeMenuId), 'submenuhide': (filemenutitle.id != activeMenuId)}">
                <a [routerLink]="['/fileupload']" (click)="menuActive = false" [routerLinkActive]="['active']">Upload</a>
            </div>

            <a id="menu_menu" #menumenutitle [class.active-menuitem]="menumenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === menumenutitle.id ? null : menumenutitle.id)">
                <img src="assets/showcase/images/icons/menu-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/menu.svg" class="layout-menu-icon-inactive" />
                <span>Menu</span>
            </a>
            <div [ngClass]="{'submenushow': (menumenutitle.id == activeMenuId), 'submenuhide': (menumenutitle.id != activeMenuId)}">
                <a [routerLink]="['/menumodel']" (click)="menuActive = false" [routerLinkActive]="['active']">MenuModel</a>
                <a [routerLink]="['/breadcrumb']" (click)="menuActive = false" [routerLinkActive]="['active']">Breadcrumb</a>
                <a [routerLink]="['/contextmenu']" (click)="menuActive = false" [routerLinkActive]="['active']">ContextMenu</a>
                <a [routerLink]="['/megamenu']" (click)="menuActive = false" [routerLinkActive]="['active']">MegaMenu</a>
                <a [routerLink]="['/menu']" (click)="menuActive = false" [routerLinkActive]="['active']">Menu</a>
                <a [routerLink]="['/menubar']" (click)="menuActive = false" [routerLinkActive]="['active']">Menubar</a>
                <a [routerLink]="['/panelmenu']" (click)="menuActive = false" [routerLinkActive]="['active']">PanelMenu</a>
                <a [routerLink]="['/slidemenu']" (click)="menuActive = false" [routerLinkActive]="['active']">SlideMenu</a>
                <a [routerLink]="['/steps']" (click)="menuActive = false" [routerLinkActive]="['active']">Steps</a>
                <a [routerLink]="['/tabmenu']" (click)="menuActive = false" [routerLinkActive]="['active']">TabMenu</a>
                <a [routerLink]="['/tieredmenu']" (click)="menuActive = false" [routerLinkActive]="['active']">TieredMenu</a>
            </div>

            <a id="menu_chart" #chartmenutitle [class.active-menuitem]="chartmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === chartmenutitle.id ? null : chartmenutitle.id)">
                <img src="assets/showcase/images/icons/charts-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/charts.svg" class="layout-menu-icon-inactive" />
                <span>Charts</span>
            </a>
            <div [ngClass]="{'submenushow': (chartmenutitle.id == activeMenuId), 'submenuhide': (chartmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/chart']" (click)="menuActive = false" [routerLinkActive]="['active']">ChartModel</a>
                <a [routerLink]="['/chart/bar']" (click)="menuActive = false" [routerLinkActive]="['active']">Bar</a>
                <a [routerLink]="['/chart/doughnut']" (click)="menuActive = false" [routerLinkActive]="['active']">Doughnut</a>
                <a [routerLink]="['/chart/line']" (click)="menuActive = false" [routerLinkActive]="['active']">Line</a>
                <a [routerLink]="['/chart/polararea']" (click)="menuActive = false" [routerLinkActive]="['active']">PolarArea</a>
                <a [routerLink]="['/chart/pie']" (click)="menuActive = false" [routerLinkActive]="['active']">Pie</a>
                <a [routerLink]="['/chart/radar']" (click)="menuActive = false" [routerLinkActive]="['active']">Radar</a>
            </div>

            <a id="menu_messages" #messagesmenutitle [class.active-menuitem]="messagesmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === messagesmenutitle.id ? null : messagesmenutitle.id)">
                <img src="assets/showcase/images/icons/message-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/message.svg" class="layout-menu-icon-inactive" />
                <span>Messages</span>
            </a>
            <div [ngClass]="{'submenushow': (messagesmenutitle.id == activeMenuId), 'submenuhide': (messagesmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/messages']" (click)="menuActive = false" [routerLinkActive]="['active']">Messages</a>
                <a [routerLink]="['/growl']" (click)="menuActive = false" [routerLinkActive]="['active']">Growl</a>
            </div>

            <a id="menu_multimedia" #multimediamenutitle [class.active-menuitem]="multimediamenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === multimediamenutitle.id ? null : multimediamenutitle.id)">
                <img src="assets/showcase/images/icons/multimedia-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/multimedia.svg" class="layout-menu-icon-inactive" />
                <span>Multimedia</span>
            </a>
            <div [ngClass]="{'submenushow': (multimediamenutitle.id == activeMenuId), 'submenuhide': (multimediamenutitle.id != activeMenuId)}">
                <a [routerLink]="['/galleria']" (click)="menuActive = false" [routerLinkActive]="['active']">Galleria</a>
            </div>

            <a id="menu_dnd" #dndmenutitle [class.active-menuitem]="dndmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === dndmenutitle.id ? null : dndmenutitle.id)">
                <img src="assets/showcase/images/icons/dragdrop-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/dragdrop.svg" class="layout-menu-icon-inactive" />
                <span>DragDrop</span>
            </a>
            <div [ngClass]="{'submenushow': (dndmenutitle.id == activeMenuId), 'submenuhide': (dndmenutitle.id != activeMenuId)}">
                <a [routerLink]="['/dragdrop']" (click)="menuActive = false" [routerLinkActive]="['active']">Drag&amp;Drop</a>
            </div>

            <a id="menu_misc" #misctitle [class.active-menuitem]="misctitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === misctitle.id ? null : misctitle.id)">
                <img src="assets/showcase/images/icons/misc-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/misc.svg" class="layout-menu-icon-inactive" />
                <span>Misc</span>
            </a>
            <div [ngClass]="{'submenushow': (misctitle.id == activeMenuId), 'submenuhide': (misctitle.id != activeMenuId)}">

                <a [routerLink]="['/responsive']" (click)="menuActive = false" [routerLinkActive]="['active']">Responsive</a>
                <a [routerLink]="['/rtl']" (click)="menuActive = false" [routerLinkActive]="['active']">RTL</a>
                <a [routerLink]="['/defer']" (click)="menuActive = false" [routerLinkActive]="['active']">Defer</a>
                <a [routerLink]="['/blockui']" (click)="menuActive = false" [routerLinkActive]="['active']">BlockUI</a>
                <a [routerLink]="['/captcha']" (click)="menuActive = false" [routerLinkActive]="['active']">Captcha</a>
                <a [routerLink]="['/inplace']" (click)="menuActive = false" [routerLinkActive]="['active']">Inplace</a>
                <a [routerLink]="['/validation']" (click)="menuActive = false" [routerLinkActive]="['active']">Validation</a>
                <a [routerLink]="['/progressbar']" (click)="menuActive = false" [routerLinkActive]="['active']">ProgressBar</a>
                <a [routerLink]="['/progressspinner']" (click)="menuActive = false" [routerLinkActive]="['active']">ProgressSpinner</a>
                <a [routerLink]="['/codehighlighter']" (click)="menuActive = false" [routerLinkActive]="['active']">CodeHighlighter</a>
                <a [routerLink]="['/terminal']" (click)="menuActive = false" [routerLinkActive]="['active']">Terminal</a>

            </div>
            <a id="menu_map" #maptitle [class.active-menuitem]="maptitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === maptitle.id ? null : maptitle.id)">
                <img src="assets/showcase/images/icons/misc-active.svg" class="layout-menu-icon-active" />
                <img src="assets/showcase/images/icons/misc.svg" class="layout-menu-icon-inactive" />
                <span>地图</span>
            </a>
            <div [ngClass]="{'submenushow': (maptitle.id == activeMenuId), 'submenuhide': (maptitle.id != activeMenuId)}">
                <a (click)="menuActive = false" [routerLinkActive]="['active']">&#8250; 百度</a>
                <a (click)="menuActive = false" [routerLinkActive]="['active']">&#8250; 高德</a>
                <a (click)="menuActive = false" [routerLinkActive]="['active']">&#8250; QQ</a>

            </div>
        </div>
    </div>

    <div class="layout-mask" *ngIf="menuActive" (click)="onMenuButtonClick($event)">

    </div>

    <div id="layout-content">
        <div>
            <router-outlet></router-outlet>
        </div>

        <div class="content-section layout-footer clearfix">
            <span><a href="http://www.primetek.com.tr">PrimeTek</a>, Copyright &copy; 2017</span>
            <div class="footer-links">
                <a href="https://github.com/primefaces/primeng"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/prime_ng"><i class="fa fa-twitter"></i></a>
            <div>
        </div>
    </div>

</div>